.children-setting{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .btn-group{
    flex: 0 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: @marginSM 0;
    .btn{
      margin-right: 16px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .children-setting-scroll-content{
    flex: 1;
    overflow: auto;
    padding: @paddingSM @paddingSM @paddingSM @paddingSM;
  }
  .children-setting-item{
    border: 1px solid #dddddd;
    margin-bottom: @marginXS;
    border-radius: 4px;
    overflow: hidden;

    .item-content{
      padding: @paddingSM;
      overflow: hidden;
      min-height: 400px;
      &.is-collapse{
        display: none;
      }

    }
    .item-title{
      display: flex;
      height: 32px;
      background-color: #dddddd;
      padding:@paddingXS @paddingSM;
      box-sizing: border-box;
      font-size: 12px;
      align-items: center;
      .title-text{
        display: flex;
        .text{
          display: flex;
          align-items: center;
          min-width: 44px;
          //background-color: #69b1ff;
        }
        .title-input{
          display: inline-block;
          min-width:84px;
          width: 0;
          padding: @paddingXXS;
        }
        .edit-btn{
          display: flex;
          align-items: center;
          cursor: pointer;
          width: 32px;
          margin-left: @marginXXS;
          &:hover{
            color: @colorPrimary;
          }
        }
      }
      .handle{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        .btn{
          margin: 0;
          padding: 0 0 0 12px;
          font-size: 12px;
        }
      }
      .collapse-btn{
        display: flex;
        align-items: center;
        margin-left: @marginXS;
        cursor: pointer;
      }
    }
  }
  .is-dragging{
    display: none;
  }
  .is-over{
    border-bottom: 2px solid @colorPrimary;
  }
  .children-setting-scroll-inner-view{
    display: flex;
    flex-direction: column;
  }
}
